# Specify intentionally untracked files to ignore

# API secret token
hks_secret_token.txt

# Byte-compiled python files
*.pyc

# Condor log, error, and output files
condor/

# Google OAuth credentials
client_secret.json

# Jupyter notebook checkpoints
.ipynb_checkpoints

# gedit backups
*~
